* {
  margin: 0;
  padding: 0;
}

body {
  font: small arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  margin: 10px; 
}

a {
  text-decoration: none;
  color:#000;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  padding: 5px;
  align-items: center;
}

li:not(last-child) {
  margin-left: 20px;
}


#logo {
  flex: 1;
  margin-top:10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
} 

input {
  width: 664px;
  height:42px;
  border:1px solid #ccc;
  border-radius:2px;
  background:#fff;
  color:rgb(255, 255, 255);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  color: #000;
  font-size:1.2em;
  padding-left: 10px;
}

input::placeholder {
  padding-left:5px;
  color: #ccc;
  
}

input:focus {
  outline: 0;
}

.cerca {
  width: 126px;
  height: 36px;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #757575;
  padding: 0 16px;
  border: 1px solid #f2f2f2;;
  border-radius: 2px;
  background: #f2f2f2;
}

.fort {
  width: 144px;
  height: 36px;
  font-family: arial,sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #757575;
  padding: 0 16px;
  border: 1px solid #f2f2f2;;
  border-radius: 2px;
  background: #f2f2f2;
  margin: 11px 4px;
  
}

footer {
  background:#f2f2f2;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

span {
  padding-left: 10px;
  padding-right: 20px;
  font-size: 14px; 
}


.foot-right {
  padding: 10px;
  margin-left: auto;
}

span a {
  color: rgba(0,0,0,.54);
}



/*================= media query================ */
@media only screen and (max-width: 740px) {


  #logo {
    margin-top: 100px;
  }

  input {
    width: 520px;
  }

  
}

@media only screen and (max-width: 500px) {

  .tools {
    margin-left: auto;
  }

  #logo {
    margin-top: 100px;
  }

  input {
    width: 264px;
  }


  span {
      padding-left: 5px;
      padding-right: 12px;
      font-size: 14px;
  }
  
  .foot-right {
    padding: 14px;
    margin-left: 0;
  }
}

